.navbar ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    padding: 0;
    margin: 0;
}

.navbar li{
    float:inherit;
}

.navbar a{
    display:block;
}

.navbar li a{
    width: 100px;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color:white;
    font-family: 'Nanum Gothic', sans-serif; 
}

.navbar li a:hover{
    background-color: #111;
}

.header h1{
    padding: 18px;
    margin: 0;
    text-align: center;
    background-color: #333;
    color:white;
    font-family: 'Nanum Gothic', sans-serif; 
}

.footer ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    padding: 0;
    margin: 0;
}

.footer li{
    float:right;
}

.footer a{
    display: block;
}

.footer li a{
    width: 100px;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color:white;
}

.footer li a:hover{
    background-color: #111;
}

body{
    background-color: #949494;
}

.break1 br{
    line-height: 50%;
}

.previews ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}

.previews li{
    display: inline-block;
    vertical-align: top;
    width: 31%;
    height: 30%;
    background-color: #bfbfbf;
    border: solid;
    border-style: double;
    border-width: 5px;
    font-family: 'Oxygen', sans-serif;
}

.previews li:hover{
    background-color: #ababab;
}

.previews li.bottom{
    margin-bottom: 1%;
}

.previews li.notright{
    margin-right: 1%;
}

.previews li#notright{
    margin-right: 1%;
}

.cover{
    z-index: 100;
    background: #949494;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left:0;
    top: 0;
    position: absolute;
    visibility: visible;
    opacity: 1.0;
}

.loader{
    z-index: 101;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 16px solid white;
    border-top: 16px solid black;
    border-bottom: 16px solid white;
    border-right: 16px solid red;
    border-left: 16px solid blue;
    border-radius: 50%;
    width: 1px;
    animation: spin 1s ease infinite;
    visibility: hidden;
    opacity: 1.0;
}

@keyframes spin{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}